@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.story-card {
  border-radius: 8px;
  overflow: hidden;
  @include m.card-hover;
  
  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  &__content {
    padding: v.$spacer;
    
    &-title {
      font-size: 1.25rem;
      font-weight: v.$font-weight-bold;
      margin-bottom: v.$spacer;
    }
    
    &-description {
      color: v.$secondary;
    }
  }
}